.footer {
  display: flex;
  justify-content: center;
}

.footer-info p {
  font: var(--body1);
  color: var(--base-color);
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.ocultar {
  display: none;
}

.footer-logo {
  display: none;
}

.logito {
  block-size: 100px;
  inline-size: 100px;
  & > img {
    block-size: 100%;
    inline-size: 100%;
  }
}

.social {
  & a:nth-last-child(4) {
    color: var(--secondary-color);
  }
  & a:nth-last-child(3) {
    color: var(--secondary-color);
  }
  & a:nth-last-child(2) {
    color: var(--secondary-color);
  }
  & a:nth-last-child(1) {
    color: var(--secondary-color);
  }
}