/* QUERYS DE NAVBAR */
@media screen and (min-width: 768px){
  .header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 5;
    &__nav {
      display: block;
    }
  }



}


/* QUERYS DE HERO */
@media screen and (min-width: 768px){
  .hero {
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: space-between;
    align-items: flex-start;
    &__content__description {
      max-inline-size: 450px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero__content__image {
    height: 504px;
    width: 500px;
  }

  // .hero__content__description {
  //   width: 255px;
  // }
}

@media screen and (max-width: 425px) {
  .hero__content__image {
    height: 400px;
    width: 100%;
  }
}

/* QUERYS DE TESTIMONIO */

@media screen and (min-width: 1024px){
  .testimonio-container {
    padding: 200px;
  }

  .testimonio-info {
    width: 900px;
  }

}

/* QUERYS DE CARD */

@media screen and (min-width: 1024px) {
  .card-container .card-coment p {
    font: var(--headline4);
  }
  .card-container .card-copy p {
    font: var(--headline5);
  }
  .card {
    padding: 80px 0 80px 0;
  }
  .card .card-container {
    padding: 80px;
    text-align: center;
  }

  .card .card-container figure {
    width: 80px;
    height: 80px;
  }
}

/* QUERYS DE PROYECT */

@media screen and (min-width: 1024px) {
  .proyect {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .proyect-info {
    display: flex;
    max-width: 449px;
  }
  .descarga {
    width: 50%;
  }

  .proyect-info .proyect-title {
    font: var(--headline4);
  }

  .marvol {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .netnet {
    display: flex;
    justify-content: center;
  }
  
  .proyect-img__container .netnet-img {
    width: 500px;
  }  
}

/* QUERYS DE FORMULARIO */

@media screen and (min-width: 768px){
  .form-info .title {
    align-self: stretch;
  }
}

@media screen and (max-width: 768px) {
  .form .form-info p{
    text-align: left;
  }

}

/* QUERYS DE FOOTER */

@media screen and (max-width: 768px){
  .footer-info p {
    text-align: center;
  }
}
@media screen and (min-width: 1024px){
  footer {
    padding-bottom: 20px;
  }
  
  .footer-container .footer-info {
    display: flex;
    flex-direction: row;
    gap: 5;
  }

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ocult a {
    display: none;
  }

  .social {
    width: 300px;
  }
  
  .footer-container .footer-logo {
    display: block;
  }

  .footer-container .ocultar {
    display: block;
    align-items: center;
  }
}
