/* QUERYS DE NAVBAR */
@media screen and (min-width: 768px){
  .header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 5;
    &__nav {
      display: block;
    }
  }



}


/* QUERYS DE HERO */
@media screen and (min-width: 768px){
  .hero {
    flex-direction: row-reverse;
    gap: 32px;
    justify-content: space-between;
    align-items: flex-start;
    &__content__description {
      max-inline-size: 450px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero__content__image {
    height: 504px;
    width: 500px;
  }
}

@media screen and (max-width: 425px) {
  .hero__content__image {
    height: 400px;
    width: 100%;
  }
}

/* QUERYS DE TESTIMONIO */

@media screen and (min-width: 1024px){
  .testimonio-container {
    padding: 200px;
  }

  .testimonio-info {
    width: 900px;
  }

}

/* QUERYS DE CARD */

@media screen and (min-width: 1024px) {
  .card {
    padding: 80px 0 80px 0;
    &-container .card-coment p {
      font: var(--headline4);
    }
    &-container .card-copy p {
      font: var(--headline5);
    }
    & .card-container {
      padding: 80px;
      text-align: center;
      & figure {
        width: 80px;
        height: 80px;
      }
    }
    }

}

/* QUERYS DE PROYECT */

@media screen and (min-width: 1024px) {
  .proyect {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    &-info {
      display: flex;
      max-width: 400px;
      & .proyect-title {
        font: var(--headline4);
      }
    }
    &-img {
      inline-size: 60%;
      justify-content: flex-end;
    }
  }


}

@media screen and (min-width: 768px) {
  .proyect-img {
    margin-block-end: 30px;
  }  
}

@media screen and (max-width: 425px) {
  .proyect-img {
    margin-block-end: 30px;
    &__container {
      block-size: 300px;
      inline-size: 300px;
    }
  }

}

/* QUERYS DE FORMULARIO */

@media screen and (min-width: 768px){
  .form-info .title {
    align-self: stretch;
  }
}

@media screen and (max-width: 768px) {
  .form .form-info p{
    text-align: left;
  }

}

/* QUERYS DE FOOTER */

@media screen and (max-width: 768px){
  .footer-info p {
    text-align: center;
  }
}
@media screen and (min-width: 1024px){
  .footer {
    padding-bottom: 20px;
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .footer-info {
        display: flex;
        flex-direction: row;
        gap: 5;
      }
      & .footer-logo {
        display: block;
      }
      & .ocultar {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .ocult a {
    display: none;
  }

  .social {
    width: 300px;
  }
}
